<div class="container mb-4 animated fadeIn" align="center">
    <div class="row row-cols-1 row-cols-md-2 mt-4 mb-4">
        <div class="faqs_header col-12 col-md-8" align="start">
            <label>
                Preguntas Frecuentes
            </label>
        </div>
        <div class="col-12 col-md-4">
            <img class="header-img mb-4" src="./assets/images/Iconos_Web_Certy-02.png" alt="certy_logo">
        </div>
    </div>
    <mat-accordion>
        <mat-expansion-panel class="collapse-container">
            <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'150px'">
                <mat-panel-title class="collapse-title">
                    <img src="./assets/images/Iconos_Web_Certy-02.png" class="collapse-image">
                    ¿Qué hacer en caso de un accidente?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="collapse-container">
            <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'150px'">
                <mat-panel-title class="collapse-title">
                    <img src="./assets/images/Iconos_Web_Certy-02.png" class="collapse-image">
                    ¿Cuáles son los paquetes de coberturas que se pueden contratar con cada aseguradora a través de este
                    programa?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="collapse-container">
            <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'150px'">
                <mat-panel-title class="collapse-title">
                    <img src="./assets/images/Iconos_Web_Certy-02.png" class="collapse-image">
                    ¿Qué significa cada una de las coberturas incluidas en los paquetes ofrecidos?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
    </mat-accordion>

</div>