<div class="container animated fadeIn" style="margin-top: 20px; margin-bottom: 0px;">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col col-md-6">
            <img class="navbar-brand mb-4" src="./assets/images/Iconos_Web_Certy-02.png" alt="certy_logo"
                style="max-width: 50px;">
            <p style="color:#0E2B4D; font-size: 50px; font-weight: bolder; text-justify: auto;">
                No es solo un gasto, es manejar seguro a todos lados.
            </p>
            <img class="navbar-brand" src="./assets/images/Carro-Nuevo-1.png" alt="certy_logo"
                style="max-width: 500px;">
        </div>
        <div class="col col-12 col-md-6" align="center">
            <div class="card" style="margin-top: 0px;">
                <div class="card-body">
                    <div class="card-title">
                        <p style="color: #0E2B4D; font-size: 36px; font-weight: bold;">Registrarse</p>
                    </div>
                    <hr>
                    <div class="card-text">
                        <form autocomplete="disabled" [formGroup]="form" (ngSubmit)="validateForm()">
                            <div class="col mt-4 mb-4">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Nombre y Apellidos</mat-label>
                                    <input matInput formControlName="complete_name">
                                    <mat-icon matSuffix>account_circle</mat-icon>
                                    <mat-error class="animated fadeIn" *ngIf="invalidCompleteName">
                                        <label class="animated fadeIn"
                                            *ngIf="form.get('complete_name').hasError('required')">
                                            El nombre es requerido.
                                        </label>
                                        <label class="animated fadeIn"
                                            *ngIf="form.get('complete_name').hasError('minlength')">
                                            El nombre debe contener al menos
                                            {{form.get('complete_name').errors.minlength.requiredLength }}
                                            caracteres.
                                        </label>
                                        <label class="animated fadeIn"
                                            *ngIf="form.get('complete_name').hasError('pattern')">
                                            El nombre es invalido.
                                        </label>
                                    </mat-error>
                                </mat-form-field>
                                <br>

                                <mat-form-field class="mt-2" style="width: 100%;" appearance="outline">
                                    <mat-label>Correo Electrónico</mat-label>
                                    <input matInput formControlName="email">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error class="animated fadeIn" *ngIf="invalidEmail">
                                        <label class="animated fadeIn" *ngIf="form.get('email').hasError('required')">
                                            El correo es requerido.
                                        </label>
                                        <label class="animated fadeIn" *ngIf="form.get('email').hasError('minlength')">
                                            El correo debe contener al menos
                                            {{form.get('email').errors.minlength.requiredLength}} caracteres.
                                        </label>
                                        <label class="animated fadeIn" *ngIf="form.get('email').hasError('pattern')">
                                            El correo es invalido.
                                        </label>
                                    </mat-error>
                                </mat-form-field>
                                <br>

                                <mat-form-field class="mt-2" appearance="outline" style="width: 100%;">
                                    <mat-label>Contraseña</mat-label>
                                    <input [type]="visibility ? 'text' : 'password'" matInput
                                        formControlName="password">
                                    <mat-icon matSuffix class="animated fadeIn" *ngIf="!visibility"
                                        (click)="visibility = !visibility">visibility</mat-icon>
                                    <mat-icon matSuffix class="animated fadeIn" *ngIf="visibility"
                                        (click)="visibility = !visibility">visibility_off</mat-icon>
                                    <mat-error class="animated fadeIn" *ngIf="invalidPassword">
                                        <label class="animated fadeIn"
                                            *ngIf="form.get('password').hasError('required')">
                                            La contraseña es requerida.
                                        </label>
                                        <label class="animated fadeIn"
                                            *ngIf="form.get('password').hasError('minlength')">
                                            La contraseña debe contener al menos
                                            {{form.get('password').errors.minlength.requiredLength}} caracteres.
                                        </label>
                                        <label class="animated fadeIn"
                                            *ngIf="form.get('password').hasError('maxlength')">
                                            La contraseña debe contener máximo
                                            {{form.get('password').errors.maxlength.requiredLength}} caracteres.
                                        </label>
                                        <label class="animated fadeIn" *ngIf="form.get('password').hasError('pattern')">
                                            La contraseña es invalida. Se permiten letras, números y los caracteres
                                            especiales @ $ ! % * ? &.
                                        </label>
                                    </mat-error>
                                </mat-form-field>
                                <br>
                                <p align="start">
                                    <mat-checkbox formControlName="terms">
                                        He leído y acepto todos los <a href="https://www.google.com"
                                            style="color:#60CDEE" target="_blank">
                                            Términos y Condiciones y Políticas de Privacidad de Certy
                                        </a>
                                    </mat-checkbox>
                                </p>
                                <br>
                                <button type="submit" class="btn btn-primary mt-4" style="width: 100%;">Registrarme
                                </button>
                                <mat-error class="animated fadeIn" *ngIf="invalidTerms">
                                    <label class="animated fadeIn" *ngIf="form.get('terms').hasError('required')">
                                        Se deben aceptar términos y condiciones para continuar.
                                    </label>
                                </mat-error>
                            </div>
                            <a [routerLink]="['/login']" style="text-decoration: none;">
                                <p style="font-size: 15px; color: #60CDEE;">
                                    Ya tengo una cuenta.
                                </p>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>