.quotations_container {
    width: 100%;
    align-self: center;
}

.user_header {
    color: #0E2B4D;
    font-size: 50px;
}

.header-img {
    max-width: 65px;
}

.div-row {
    border: 2px solid var(--unnamed-color-707070);
    border: 2px solid #707070;
}

.policies-header {
    color: #0E2B4D;
    font-size: 25px;
}


@media screen and (max-width: 800px) {

    .quotations_container {
        width: 90%;
    }

    .user_header {
        margin-left: 20px;
        font: normal normal 30px/43px Montserrat;
        margin-bottom: 30px;
    }

    .quotation-parragraph {
        font-size: 15px;
    }

    .header-img {
        align-self: left;
        max-width: 80px;
    }

    .pay-row {
        max-width: 100%;
        size: 10px;
    }

}