<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12 col-md-4" align="start">
                    <label class="page-title">
                        Nosotros
                    </label>
                </div>
                <div class="col-12 col-md-2">
                    <img class="mb-4" src="./assets/images/Iconos_Web_Certy-02.png" alt="certy_logo"
                        style="max-width: 50px;">
                </div>
            </div>

            <p class="subtitle-1">
                ¡Somos tu marketplace de <a style="color: #60CDEE;"> seguros de auto de confianza! </a>
            </p>

            <p class="us-text">
                ¡Protégete ante cualquier imprevisto con el seguro de auto ideal!
            </p>

            <p class="us-text">
                En Certy, hemos establecido alianzas para brindarte la mejor cobertura al precio más competitivo del
                mercado. Con solo un clic, desde la comodidad de tu hogar u oficina, puedes cotizar, comparar y adquirir
                el seguro de auto perfecto para ti.
            </p>

            <p class="us-text">
                Nuestro sistema te muestra las mejores opciones de cada aseguradora, adaptadas a las características de
                tu vehículo. No arriesgues tu seguridad ni tu bolsillo, confía en Certy para asegurar tu tranquilidad en
                la carretera.
            </p>

            <p class="us-text">
                Tenemos alianza con tres aseguradoras: Quálitas, Primero Seguros y Chubb.
            </p>

            <p class="us-text mb-4">
                Certy es una plataforma creada por Financiera Trínitas. Trínitas lleva más de una década desarrollando
                soluciones financieras para empresas y personas alrededor de la república.
            </p>

            <p class="subtitle-2 mt-4">
                #AseguraLoQueTeMueve
            </p>
        </div>
        <div class="col-md-4">
            <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100%;">
                <img class="car-image" src="./assets/images/certy-nosotros-web.png" alt="certy_car_logo">
            </div>
        </div>
    </div>
</div>