<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg" style="background: #0E2B4D 0% 0% no-repeat padding-box;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color:#60CDEE; margin-left: 100px;">
                <img class="navbar-brand" src="./assets/images/Iconos_Web_Certy-05.png" alt="certy_logo"
                    style="max-width: 150px;">
            </a>

            <button style="background-color:white" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" *ngIf="!authenticated">
                            <button class="mb-2 mt-2" mat-button
                                style=" background:#60cdee00;color:#60CDEE;min-width: 180px; margin-right: 10px;"
                                [routerLink]="['/ayuda']">¿Qué hacer en caso de un siniestro?</button>
                        </li>
                        <li class="nav-item" *ngIf="authenticated">
                            <button class="mt-2 mb-2" mat-button
                                style=" background:#60cdee00;color:#60CDEE;min-width: 180px; margin-right: 10px;"
                                [routerLink]="['/ayuda']">¿Qué hacer en caso de un siniestro?</button>
                        </li>
                        <li class="nav-item" *ngIf="!authenticated">
                            <button type="button" class="btn btn-info mb-2 mt-2"
                                style="background: #60CDEE 0% 0% no-repeat padding-box;color:white;min-width: 180px; margin-right: 10px;"
                                [routerLink]="['/cotizacion']">
                                ¡Cotiza Ahora!
                            </button>
                        </li>
                        <li class="nav-item" *ngIf="!authenticated">
                            <button type="button" class="btn btn-outline-light mt-2 mb-2"
                                style="min-width: 180px;margin-right: 10px;" [routerLink]="['/login']">
                                Inicia Sesión
                            </button>
                        </li>
                        <li class="nav-item" *ngIf="authenticated">
                            <a class="nav-link active" [routerLink]="['/dashboard']">
                                <button mat-button style="color: white">
                                    <mat-icon>home</mat-icon>
                                    Inicio
                                </button>
                            </a>
                        </li>
                        <!-- <li class="nav-item" *ngIf="authenticated">
                            <a class="nav-link active" [routerLink]="['/estado-de-cuenta']">
                                <button mat-button style="color: white">
                                    <mat-icon>history_edu</mat-icon>
                                    Estado de Cuenta
                                </button>
                            </a>
                        </li> -->
                    </ul>
                    <small style="color: #60CDEE;">
                        {{authenticated ? user_info.user_name: '' }}
                    </small>
                    <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #60CDEE;"
                        aria-label="Example icon-button with a menu" *ngIf="authenticated">


                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>settings</mat-icon>
                            <span>Configuraciones</span>
                        </button>
                        <button mat-menu-item (click)="Logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Cerrar Sesión</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <router-outlet></router-outlet>
    </div>
    <footer class="page-footer">

        <div class="group-1">
            <div class="box">
                <figure>
                    <a>
                        <img src="./assets/images/certy-jointlogo-blanco.png" alt="Footer Certy Logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2> Contacto</h2>
                <p>contactotrinitas@cire.com.mx</p>
                <p>Tel: 81 8647 6770 al 73 ext.113</p>
                <p>Tel. Móvil 81 2878 1856</p>
                <p><a [routerLink]="['/faqs']" style="text-decoration: none; color: white;">FAQ</a></p>
            </div>
            <div class="box">
                <h2> Trínitas</h2>
                <p>
                    <a href="https://trinitas.mx/creditos/" style="text-decoration: none; color: white;">
                        Soluciones Financieras
                    </a>
                </p>
                <p>
                    <a href="https://trinitas.mx/blog/" style="text-decoration: none; color: white;">
                        Blog Financiero
                    </a>
                </p>
                <p>
                    <a href="https://trinitas.mx/" style="text-decoration: none; color: white;">
                        www.trinitas.mx
                    </a>
                </p>
            </div>
            <div class="box">
                <div class="social-web">
                    <a href="https://www.facebook.com/FinancieraTrinitas/">
                        <img class="navbar-brand" src="./assets/images/Iconos_Web_Certy-06.png" style="max-width: 13px;" alt="Facebook Logo">
                    </a>
                    <a href="https://www.instagram.com/trinitas.mx/">
                        <img class="navbar-brand" src="./assets/images/Iconos_Web_Certy-07.png" alt="Intagram Logo">
                    </a>
                    <a href="https://twitter.com/Trinitas_Mx?s=20">
                        <img class="navbar-brand" src="./assets/images/Iconos_Web_Certy-08.png" alt="Twitter Logo">
                    </a>
                    <a href="https://www.linkedin.com/company/financiera-tr-nitas-sa-de-cv-sofom-enr/">
                        <img class="navbar-brand" src="./assets/images/Iconos_Web_Certy-09.png" alt="Youtube Logo">
                    </a>
                </div>
            </div>
        </div>

        <div class="group-2">
            <small>Aviso de Privacidad | Términos y Condiciones</small>
        </div>
    </footer>
</body>

</html>